<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_feiji_chuntian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,267}}</string>
                <key>sourceSize</key>
                <string>{494,267}</string>
            </dict>
            <key>ddz_feiji_hudie.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,473},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>ddz_feiji_taohua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{266,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,198}}</string>
                <key>sourceSize</key>
                <string>{266,198}</string>
            </dict>
            <key>ddz_feiji_taohua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,271},{208,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,200}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>ddz_feiji_taohua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{166,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,127}}</string>
                <key>sourceSize</key>
                <string>{166,127}</string>
            </dict>
            <key>ddz_feiji_taohua04.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,473},{91,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,150}}</string>
                <key>sourceSize</key>
                <string>{91,150}</string>
            </dict>
            <key>ddz_feiji_yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,471},{81,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,99}}</string>
                <key>sourceSize</key>
                <string>{81,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dizhu_table_chuntian.png</string>
            <key>size</key>
            <string>{498,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839610fd553f2f913f166992c0e95e6d:1/1$</string>
            <key>textureFileName</key>
            <string>dizhu_table_chuntian.png</string>
        </dict>
    </dict>
</plist>
