<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creatroom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{162,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{162,60}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>creatroom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,36},{115,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{115,34}}</string>
                <key>sourceSize</key>
                <string>{165,46}</string>
            </dict>
            <key>creatroom19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{60,32}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,32}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>creatroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,80}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{172,80}}</string>
                <key>sourceSize</key>
                <string>{192,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27a15b8c67dc587a3585d226dbc95865$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
