<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,304},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,282},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,282},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,248},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,226},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,412},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,330},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,248},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,170},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,170},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,412},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,330},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,170},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,248},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,166},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,114},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,114},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,114},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,84},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,58},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,58},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,58},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,58},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_orchid.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,414},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,332},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,250},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,168},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,86},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{54,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_bottom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ea0537746eb40cb0ea8c69cf79f0f4:1/1$</string>
            <key>textureFileName</key>
            <string>Z_bottom.png</string>
        </dict>
    </dict>
</plist>
