<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,910},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>dice0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,824},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>dice0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,769},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>dice0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,246},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>dice0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,187},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>dice0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,642},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>dice0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,712},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dice0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,930},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>dice0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,930},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>dice0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,701},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>dice0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,594},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>dice0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,533},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>dice0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,712},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dice0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,712},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dice0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,712},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>dice0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,420},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>dice0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,760},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>dice0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,477},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>dice0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,712},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>dice0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,972},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>dice0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,972},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>dice0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,972},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>dice0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,882},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>dice0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,362},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,304},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,128},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,910},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,654},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>loading光标.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{146,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,149}}</string>
                <key>sourceSize</key>
                <string>{146,149}</string>
            </dict>
            <key>loading底图.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,779},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>loading底图2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,61}}</string>
                <key>sourceSize</key>
                <string>{479,61}</string>
            </dict>
            <key>loading底图3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,65},{712,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,64}}</string>
                <key>sourceSize</key>
                <string>{712,64}</string>
            </dict>
            <key>loading底图4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,128},{512,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
            <key>locating.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{427,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{427,61}}</string>
                <key>sourceSize</key>
                <string>{479,61}</string>
            </dict>
            <key>….png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeChat_Lroding0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a7ed3508658faee502a086e990b038:1/1$</string>
            <key>textureFileName</key>
            <string>WeChat_Lroding0.png</string>
        </dict>
    </dict>
</plist>
