<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{215,68}}</string>
                <key>sourceSize</key>
                <string>{221,70}</string>
            </dict>
            <key>public_frame_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{206,201}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,201}}</string>
                <key>sourceSize</key>
                <string>{208,209}</string>
            </dict>
            <key>sex_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>sex_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_ui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67eceee8efe1cb235cacd90ad3f58bbf$</string>
            <key>textureFileName</key>
            <string>public_ui.png</string>
        </dict>
    </dict>
</plist>
