<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,988},{382,150}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{382,150}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{484,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{484,162}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{484,166}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{484,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{484,162}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,832},{402,154}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{402,154}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{434,152}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{434,152}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,664},{438,166}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{438,166}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,488},{448,174}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{448,174}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
            <key>chi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{484,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{484,158}}</string>
                <key>sourceSize</key>
                <string>{500,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_chi.png</string>
            <key>size</key>
            <string>{968,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3515917260caa58e98849b159f0125f8:1/1$</string>
            <key>textureFileName</key>
            <string>efx_chi.png</string>
        </dict>
    </dict>
</plist>
