<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ddz_table_img_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,525},{187,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,93}</string>
			</dict>
			<key>ddz_table_img_frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,286},{145,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,68}</string>
			</dict>
			<key>ddz_main_img_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,109},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ddz_main_btn_comon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,318},{249,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,97}</string>
			</dict>
			<key>ddz_main_img_roomIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,283},{56,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,48}</string>
			</dict>
			<key>ddz_main_btn_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,419},{249,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,97}</string>
			</dict>
			<key>ddz_main_btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,520},{249,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,97}</string>
			</dict>
			<key>ddz_main_img_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,464},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>ddz_main_img_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,2},{221,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,169}</string>
			</dict>
			<key>ddz_main_img_frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,2},{111,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,103}</string>
			</dict>
			<key>ddz_main_img_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,162},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ddz_main_img_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,621},{129,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,51}</string>
			</dict>
			<key>ddz_main_img_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,643},{129,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,51}</string>
			</dict>
			<key>ddz_main_img_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,676},{129,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,51}</string>
			</dict>
			<key>ddz_table_img_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,554},{81,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,43}</string>
			</dict>
			<key>ddz_table_img_hintPoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,628},{361,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,39}</string>
			</dict>
			<key>ddz_table_img_Kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,266},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_landlordCall.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,482},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>ddz_table_img_landlordGrab.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,555},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>ddz_table_img_noCall.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,330},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_noGrab.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,358},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_noKick.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,318},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,553},{78,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,86}</string>
			</dict>
			<key>ddz_table_img_chatNode.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,412},{123,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,66}</string>
			</dict>
			<key>ddz_table_btn_voice_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,411},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ddz_table_btn_voice_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,476},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ddz_main_img_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,145},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>ddz_main_img_topFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{547,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,80}</string>
			</dict>
			<key>ddz_main_img_picj.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,330},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>ddz_main_btn_daili.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,175},{154,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,151}</string>
			</dict>
			<key>ddz_main_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,465},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>ddz_main_img_loge.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,246},{380,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,68}</string>
			</dict>
			<key>ddz_table_img_noPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,213},{129,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,69}</string>
			</dict>
			<key>ddz_table_btn_righttop_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,431},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>ddz_table_btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,431},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ddz_table_btn_chat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,505},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ddz_table_img_noReply.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,319},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_reply.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,391},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_main_btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,175},{64,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,50}</string>
			</dict>
			<key>ddz_main_btn_blue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,229},{64,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,50}</string>
			</dict>
			<key>ddz_main_btn_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,570},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>
			<key>ddz_main_btn_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,599},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>
			<key>ddz_main_btn_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,109},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>ddz_main_btn_pointY.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,371},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>ddz_table_img_1f.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,339},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_dw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,622},{198,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,45}</string>
			</dict>
			<key>ddz_table_dw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,335},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>ddz_table_img_KickFol.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,246},{129,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,69}</string>
			</dict>
			<key>ddz_table_img_2f.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,392},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_table_img_3f.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,403},{123,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,69}</string>
			</dict>
			<key>ddz_main_btn_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{324,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,156}</string>
			</dict>
			<key>ddz_main_btn_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{324,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,156}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ddz_table_all2.png</string>
			<key>realTextureFileName</key>
			<string>ddz_table_all2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>