<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back_sala.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{202,65}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_dismiss_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{200,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{200,61}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{45,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{200,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{200,61}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>btn_weixin_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{300,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{300,68}}</string>
                <key>sourceSize</key>
                <string>{304,70}</string>
            </dict>
            <key>voice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,195},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play_scene.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1097d9979660e4a211d3e1267fe832e$</string>
            <key>textureFileName</key>
            <string>play_scene.png</string>
        </dict>
    </dict>
</plist>
